<ActionBar title="Posts">
  <Button class="back" (tap)="back()"   >
    
    <Label class="fas fa-arrow-left" text="<<" textWrap="true">
      
  </Label>
</Button>
</ActionBar>

<StackLayout>
    <ListView height="100%" [items]="posts">
      <ng-template let-post="item">
        <StackLayout>
          <Button class="delete" text="X" (tap)="delete(post)" >
            
          </Button>
          <Label class="title" [text]="post.title"></Label>
          <TextView [text]="post.body" ></TextView>
        </StackLayout>
      </ng-template>
    </ListView>
  </StackLayout>

  